streamlit==1.45.1

setuptools==69.5.1

crewai==0.28.8
crewai-tools==0.1.6

chromadb==0.4.24

pydantic==2.7.1
pydantic-core==2.18.2

langchain-google-genai==1.0.3

tavily-python==0.3.3

pysqlite3-binary==0.5.2.post3